*{
    font-family: Arial;
}

html, body{
    margin: 0;
    width: 100%;
    height: 90%;
}

.MiddleDiv{
    padding: 0px;
    margin: 15px 0 15px 15px;
    width: 882px;
}

ul{

    list-style:none;
    width: 100%;
    margin: 0;
    padding: 0;
}

li{
    font-size: 24px;
    display: inline-block;
}

#PicsDiv{
    height: 700px;
    width: 1800px;
}