.FixedBody{
    margin: 0;
}

.MainDiv{
    padding: 0;
    border:3px forestgreen solid;
    margin: 5px;
    background-color: aqua;
}

.ListDiv{
    width:25%;
    height:80px;
    background-color: bisque;
    padding: 0;
    margin: 0;
    float: left;
}

.List{
    padding-top: 15px;
    margin-top: 0;
}

.RightPartDiv{
    width: 75%;
    height:100%;
    background-color: darkgray;
    padding: 0;
    margin: 0px 0px 0px 25%;
}

#Petimg{
    float: right;
    width:50%;
}

p{
    margin:0;
}

#p2{
    clear: both;
}