.FixedBody{
    margin: 0;
}

.ColumnGreen{
    padding: 0;
    max-width: 500px;
    min-width: 100px;
    height: 100%;
    border: 20px white solid;
    margin: 0 auto;
}

.ColumnBlue{
    padding: 0;
    max-width: 380px;
    min-width: 100px;
    height: 100%;
    margin: 0 auto;
    border: 10px blue solid;
    padding: 50px;
}
